{% extends 'layouts/base.html.twig' %}

{% block title "Nouveau Avis"%}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Donnes ton avis</h1>
    
            {{ include('avis/_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
