{% extends 'layouts/base.html.twig' %}

{% block title "Nouveau Avis"%}

{% block body %}
    <h1>Donnes ton avis</h1>
    {{ form_start(monForm) }}
        {{ form_widget(monForm) }}
        <input type="submit" value="Ajouter avis" formnovalidate>
    {{ form_end(monForm) }}
{% endblock %}
