{% extends 'layouts/base.html.twig' %}

{% block title "Editer l'avis #" ~ avis.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
        <h1>Editer l'avis #{{ avis.id }}</h1>

        {{ include('avis/_form.html.twig', {submitButtonText: "Modifier l'avis"}) }}
        </div>
    </div>
{% endblock %}